[Unit]
Description=MacLeod
After=network.target
StartLimitIntervalSec=0

[Service]
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=infinity
WorkingDirectory=/apps/macleod
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/apps/macleod/macleod

[Install]
WantedBy=multi-user.target